@model IEnumerable<KiDSisMvcWebUI.Models.BooksDelivery>

@{
    ViewBag.Title = "Index";
}

<ul class="list-group ">
    <li class="list-group-item bg-info" style="text-align:center">

        <h2 style="color:white">Teslim Edilen Kitaplar</h2>

    </li>





</ul>

<p>
    @Html.ActionLink("Yeni Kayıt", "Create", null, new { @class = "btn btn-success   btn-sm mt-2" })
</p>
<table class="table table-bordered">
    <tr class="bg-info" style="color:white">
        <th>
            Kitap Sayısı

            @*@Html.DisplayNameFor(model => model.Code)*@
        </th>

        <th>İşlemler</th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookCount)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-primary   btn-sm" })
                @Html.ActionLink("Detay", "Details", new { id = item.Id }, new { @class = "btn btn-success   btn-sm" })
                @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-danger   btn-sm" })
            </td>
        </tr>
    }

</table>
