@model KiDSisMvcWebUI.Models.Book

@{
    ViewBag.Title = "Delete";
}

<div class="bg-light">
	<ul class="list-group ">
		<li class="list-group-item bg-info" style="text-align:center">
			<h2 style="color:white">Kayıt Silme</h2>
		</li>
	</ul>




	<div style="text-align:center;">
		<div class="alert alert-danger alert-dismissible mt-2">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>Dikkat! </strong>Kaydı silmek istediğinizden emin misiniz? Bu işlem geri alınamaz.
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Kod</th>
					<th>Kitap İsmi</th>
					<th>Sınıf</th>
					<th>Kitap Sayısı</th>
					<th>İşlemler</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						@Html.DisplayFor(model => model.Code)
					</td>
					<td>
						@Html.DisplayFor(model => model.Name)
					</td>
					<td>
						@Html.DisplayFor(model => model.Class)
					</td>
					<td>
						@Html.DisplayFor(model => model.BookCount)
					</td>
					<td>
						@using (Html.BeginForm())
						{
							@Html.AntiForgeryToken()

							<div class="form-actions no-color">
								<input type="submit" value="Kaydı Sil" class="btn btn-outline-danger btn-sm" />
								@Html.ActionLink("Geri Dön", "Index", new { id = Model.Id }, new { @class = "btn btn-outline-success btn-sm" })
							</div>
						}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>