@model KiDSisMvcWebUI.Models.Book

@{
    ViewBag.Title = "Details";
}

<ul class="list-group ">
    <li class="list-group-item bg-info" style="text-align:center">
        <h2 style="color:white">Detay</h2>
    </li>
</ul>


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Kitap Kodu
            @*@Html.DisplayNameFor(model => model.Code)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            Kitap İsmi
            @*@Html.DisplayNameFor(model => model.Name)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Sınıf
            @*@Html.DisplayNameFor(model => model.Class)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class)
        </dd>
        <dt>
           Kitap Türü
            @*@Html.DisplayNameFor(model => model.Class)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Geri Dön", "Index")
</p>