@model IEnumerable<KiDSisMvcWebUI.Models.Book>

@{
    ViewBag.Title = "Index";
}



<ul class="list-group ">
<li class="list-group-item bg-info" style="text-align:center">

    <h2 style="color:white">Kitaplar</h2>

</li>
    


</ul>


<p >
    @Html.ActionLink("   Yeni Kayıt", "Create",null, new { @class = "btn btn-success   btn-sm mt-2" })
</p>
<table class="table table-bordered">
    <tr class="bg-info" style="color:white">
        <th>
            Kod 

            @*@Html.DisplayNameFor(model => model.Code)*@
        </th>
        <th>
            Kitap İsmi
            @*@Html.DisplayNameFor(model => model.Name)*@
        </th>
        <th>
            Sınıf
            @*@Html.DisplayNameFor(model => model.Class)*@
        </th>
        <th>
            Kitap Adet
            @*@Html.DisplayNameFor(model => model.BookCount)*@
        </th>
        <th>İşlemler</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookCount)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-primary   btn-sm" }) 
                @Html.ActionLink("Detay", "Details", new { id = item.Id }, new { @class = "btn btn-success   btn-sm" }) 
                @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-danger   btn-sm" })
            </td>
        </tr>
    }

</table>
