@model KiDSisMvcWebUI.Models.BooksNeed

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout-User.cshtml";
}

<ul class="list-group ">
    <li class="list-group-item bg-info" style="text-align:center">
        <h2 style="color:white">Kaydı Sil</h2>
    </li>
</ul>
<div class="alert alert-danger alert-dismissible mt-2 text-center">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <i class="fa fa-exclamation-triangle"></i>
    <strong>Dikkat! </strong>Kaydı silmek istediğinizden emin misiniz? Bu işlem geri alınamaz.
</div>
<div>
    <hr />

    <table class="table">
        <thead>
            <tr class="bg-info" style="color:white">
                <th>Kitap Adı</th>
                <th>Kitap Sayısı</th>
                <th>İşlemler</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.BookCount)
                </td>
                <td>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Kaydı Sil" class="btn btn-danger btn-sm" />
                            @Html.ActionLink("Geri Dön", "Index", new { id = Model.Id }, new { @class = "btn btn-success btn-sm" })
                        </div>
                    }
                </td>
            </tr>
        </tbody>
    </table>




    @*<dl class="dl-horizontal">
        <dt>
            Kitap Sayısı
            @Html.DisplayNameFor(model => model.BookCount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BookCount)
            </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Kaydı Sil" class="btn btn-outline-info" /> |
                    @Html.ActionLink("Geri Dön", "Index")
                </div>
           }*@
        </div>
