<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> KiDSis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="körfez, kitap, dağıtım">
    <meta name="description" content="Körfez İlçe Milli Eğitim Müdürlüğü - Kitap Dağıtım Sitesi">
    @*<title>@ViewBag.Title - My ASP.NET Application</title>*@
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Css/Ozel.css">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>   
    <script src="~/Scripts/bootstrap.min.js"></script>  
    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />


</head>
<body style="background-image:url(/Images/arkaplan.png)">
    <div class="container mb-3">
        <nav style="border-top-right-radius:5px; border-top-left-radius:5px;" class="navbar navbar-expand-lg navbar-dark bg-info mt-2">
            <div class="row">
                <div class="col-md-12">
                    <!-- Logo -->
                    <a href="/Home/HomePage" class="navbar-brannd"><img width="150" src="~/Images/logo.png"></a>
                </div>
            </div>
            <!-- Sağ Menü -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuac">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menuac">
                <ul class="navbar-nav ml-auto mt-2">
                    <li class="nav-item">
                        <a style="color:white;" href="/BooksStocks/Index" class="nav-link btn btn-info"><i class="fa fa-home"></i> Ana Sayfa</a>
                    </li>
                    <li class="nav-item">
                        <a style="color:white;" href="/BooksStocks/Index" class="nav-link btn btn-info"><i class="fa fa-archive"></i> Depo Stok</a>
                    </li>
                    <li class="nav-item">
                        <a style="color:white;" href=/BooksNeeds/Index2
                           class="nav-link btn btn-info"><i class="fa fa-calendar-plus-o"></i>Talepler</></a>
                    </li>
                    <li class="nav-item">
                        <a style="color:white;" href=/Booksurplus/Index2
                           class="nav-link btn btn-info"><i class="fa fa-book"></i>Fazlalıklar</></a>
                    </li>
                    <li class="nav-item">
                        <a style="color:white;" href="/BooksDeliveries/Index" class="nav-link btn btn-info"><i class="fa fa-paperclip"></i> Kitap Teslim</a>
                    </li>


                    @*<li class="nav-item">
            <a style="color:white;" href="/Help/tutanak" class="nav-link btn btn-info"><i class="fa fa-book"></i> Tutanak</></a>
        </li>
        <li class="nav-item">
            <a style="color:white;" href="/Help/reports" class="nav-link btn btn-info"><i class="fa fa-paperclip"></i> Raporlar</a>
        </li>
        <li class="nav-item">
            <a style="color:white;" href="/School/SchoolContact" class="nav-link btn btn-info"><i class="fa fa-graduation-cap"></i> Okullar</a>
        </li>*@

                    <li class="nav-item">
                        <a style="color:white;" href="/Manager/Index" class="nav-link btn btn-info"><i class="fa fa-cogs"></i> Yönetici İşlemleri</a>
                    </li>


                    <li class="nav-item">
                        <a style="color:white;" href="/Help/helpManager" class="nav-link btn btn-info"><i class="fa fa-question-circle"></i> Yardım</a>
                    </li>
                </ul>
            </div>
        </nav>




        <nav style="padding: 0px;border-bottom-right-radius:5px; border-bottom-left-radius:5px;" class="navbar navbar-expand-lg navbar-dark bg-dark">
            @*<div class="container"> </div>*@
          
                
                    <!-- Yönetici Giriş Yapılmış Hali -->
          
                    <label style="color: white;" class="ml-2 mt-1 mr-2"><strong>
    <i class="fa fa-user-circle"></i>@User.Identity.Name</strong></label>
                    <a href="/Account/Logout">Çıkış Yap</a>
              
               
                    @*<span >
                        <label style="color: white;" class="ml-2 mt-1 "><strong><i class="fa fa-user-circle"></i> </strong></label>
                        <a href="/Manager/Index">Yönetici İşlemleri</a>
                    </span>*@
              
          
        </nav>
    </div>







    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    </ul>
                </div>
            </div>
        </div>*@

    <div class="container body-content">
        @RenderBody()
        <hr />
        <div class="container">


            <footer style="color:white;">
                <nav class="bg-info" style="border-radius: 5px;">
                    <div class="container">
                        <div class="row">
                            <div align="center" class="col-md-12">
                                <strong>Hacıosman Mah. Hızır Reis Cad. Bişkek Sok. No:132/A Kat:3 KÖRFEZ/KOCAELİ - 0 (262) 528 9394</strong><br>
                                MEB © - Tüm Hakları Saklıdır. Gizlilik, Kullanım ve Telif Hakları bildiriminde belirtilen kurallar çerçevesinde hizmet sunulmaktadır.
                            </div>
                        </div>
                    </div>
                </nav>



                @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
            </footer>
        </div>
    </div>
 
</body>
</html>