@model KiDSisMvcWebUI.Models.BooksStock

@{
    ViewBag.Title = "Edit";
}

<div class="bg-light">
	<ul class="list-group ">
		<li class="list-group-item bg-info" style="text-align:center">
			<h2 style="color:white">Kaydı Düzenle</h2>
		</li>
	</ul>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

    <div class="form-horizontal mt-2">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Name)
        @Html.HiddenFor(model => model.BookId)
        @Html.HiddenFor(model => model.DemandDate)
        @Html.HiddenFor(model => model.UserId)


        <div class="form-group">

            @if (TempData["Control"] != null)
            {<div class="alert alert-danger" role="alert">
                    <i class="fa fa-exclamation-triangle" @*style="font-size: 48px;"*@></i>&nbsp;&nbsp;
                    <b>@ViewBag.KayıtHata</b>

                </div>
            }

            @*@Html.LabelFor(model => model.BookCount, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div @*class="col-md-10"*@>


                @*@Html.EditorFor(model => model.BookCount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BookCount, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <label class="control-label col-md-6">
            <strong>Kitap Adı:</strong> @Model.Name
        </label>
        <br />
        <label class="control-label col-md-2">
            <strong>Kitap Sayısı</strong>
        </label>
        <div class="form-group">
            @*@Html.LabelFor(model => model.BookCount, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.BookCount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BookCount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-outline-info" />
            </div>
        </div>
    </div>
	}

	<div class="col-md-offset-2 col-md-10">
		@Html.ActionLink("Geri Dön", "Index")
	</div>
</div>